#HomePage {
    display: none;
    position: fixed;
    width: 600px;
    height: 350px;
    left: calc(50% - 300px);
    top: calc(50% - 175px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 9;
    border-radius: 10px;
}

#posts {
    list-style: none;
    width: 550px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.post {
    position: relative;
    display:block;
    border-bottom: thin solid lightgray;
}

.postTitle {
    background-color: black;
    color: white;
    display:block;
}

#friendsList {
    display: none;
    position: fixed;
    width: 300px;
    height: 350px;
    left: calc(100% - 350px);
    top: calc(50% - 175px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 9;
    border-radius: 10px;
}

#usersList {
    display: none;
    position: fixed;
    width: 300px;
    height: 350px;
    left: calc(100% - 350px);
    top: calc(50% - 175px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 9;
    border-radius: 10px;
}

#friends {
    list-style: none;
    width: 250px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

#users {
    list-style: none;
    width: 250px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.friend {
    position: relative;
    display:block;
    border-bottom: thin solid lightgray;
}

.user {
    position: relative;
    display:block;
    border-bottom: thin solid lightgray;
}


#usersBtn {
    display: none;
    position: fixed;
    width: 150px;
    height: 50px;
    left: calc(100% - 350px);
    top: calc(50% - 225px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 8;
    border-radius: 10px;
}


#friendsBtn {
    display: none;
    position: fixed;
    width: 150px;
    height: 50px;
    left: calc(100% - 200px);
    top: calc(50% - 225px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 8;
    border-radius: 10px;
}