#friendsPosts {
    display: none;
    position: fixed;
    width: 600px;
    height: 350px;
    left: calc(50% - 300px);
    top: calc(50% - 175px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 9;
    border-radius: 10px;
}

#usersPosts {
    display: none;
    position: fixed;
    width: 600px;
    height: 350px;
    left: calc(50% - 300px);
    top: calc(50% - 175px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 9;
    border-radius: 10px;
}

.posts {
    list-style: none;
    width: 550px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.post {
    position: relative;
    display:block;
    border: thin solid lightgray;
    border-radius: 3px;
}

.postTitle {
    border-bottom: thin solid lightgray;
    display:block;
}

#friendsList {
    display: none;
    position: fixed;
    width: 300px;
    height: 350px;
    left: calc(100% - 350px);
    top: calc(50% - 175px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 9;
    border-radius: 10px;
}

#usersList {
    display: none;
    position: fixed;
    width: 300px;
    height: 350px;
    left: calc(100% - 350px);
    top: calc(50% - 175px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 9;
    border-radius: 10px;
}

#friends {
    list-style: none;
    width: 250px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

#friends li:hover {
    background-color: #f1f1f1;
}

#users {
    list-style: none;
    width: 250px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

#users li:hover {
    background-color: #f1f1f1;
}

.friend {
    position: relative;
    display:block;
    border-bottom: thin solid lightgray;
}

.user {
    position: relative;
    display:block;
    border-bottom: thin solid lightgray;
}


#usersBtn {
    display: none;
    position: fixed;
    width: 150px;
    height: 50px;
    left: calc(100% - 350px);
    top: calc(50% - 225px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 8;
    border-radius: 10px;
}

#usersBtn:hover {
    background-color: #f1f1f1;
}

#friendsBtn {
    display: none;
    position: fixed;
    width: 150px;
    height: 50px;
    left: calc(100% - 200px);
    top: calc(50% - 225px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 8;
    border-radius: 10px;
}

#friendsBtn:hover {
    background-color: #f1f1f1;
}

#postBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    left: calc(50% + 275px);
    top: calc(50% - 200px);
    z-index: 1;
    border-radius: 25px;
    border: 1px solid #f1f1f1;
    background-color: white;
    z-index: 10;
}

#postBtn:hover {
    background-color: #f1f1f1;
}

#postImg {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;    
    margin-left: -15px;
    margin-top: -15px;
}

.btn {
    position: absolute;
    left: calc(100% - 50px);
    top: calc(30%);
}

.username {
    position:absolute;
    left: calc(100% - 175px);
    top: calc(0%);
}
