#Profile {
    display: none;
    position: fixed;
    width: 600px;
    height: 350px;
    left: calc(50% - 300px);
    top: calc(50% - 175px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 10;
    border-radius: 10px;
    text-align: center;
}

.currentPosts {
    list-style: none;
    width: 550px;
    height: 150px;
    overflow: hidden;
    overflow-y: scroll;
}